# Data Cleaning with Pandas

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

In [2]:
import pandas as pd

### Learning Goals:

- practice cleaning a real dataset
- practice using `py` files and the terminal in conjunction with jupyter notebooks
- run a `py` script through the terminal

In [3]:
!pwd

/Users/ssadalgekar/Desktop/chi-102819/chicago-102819/module_1/week_2/day_2

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

![terminal](https://media3.giphy.com/media/yR4xZagT71AAM/giphy.gif?cid=790b76115d3620444553533759086a54&rid=giphy.gif)

Now, we'll need to download the two data files that we need. We can do this at the command line:

```bash
wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
```

*Note:* If you do not have the `wget` command yet, you can install it with `brew install wget`, or use `curl <url> -o <filename>`.

Note that `%20` in a URL translates into a space. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.


![internetgif](https://media2.giphy.com/media/QWkuGmMgphvmE/giphy.gif?cid=790b76115d361f42304a6850369f37ea&rid=giphy.gif)

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [4]:
!pwd

/Users/ssadalgekar/Desktop/chi-102819/chicago-102819/module_1/week_2/day_2

In [5]:
sales_df = pd.read_csv('data/EXTR_RPSale.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [6]:
sales_df.dtypes

ExciseTaxNbr           int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice              int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType           int64
PrincipalUse           int64
SaleInstrument         int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason             int64
PropertyClass          int64
SaleWarning           object
dtype: object

In [7]:
sales_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [8]:
sales_df = sales_df[['Major','Minor','DocumentDate','SalePrice']]

In [10]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053214 entries, 0 to 2053213
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.7+ MB

In [11]:
bldg_df = pd.read_csv('data/EXTR_ResBldg.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
bldg_df.columns

Index(['Major', 'Minor', 'BldgNbr', 'NbrLivingUnits', 'Address',
       'BuildingNumber', 'Fraction', 'DirectionPrefix', 'StreetName',
       'StreetType', 'DirectionSuffix', 'ZipCode', 'Stories', 'BldgGrade',
       'BldgGradeVar', 'SqFt1stFloor', 'SqFtHalfFloor', 'SqFt2ndFloor',
       'SqFtUpperFloor', 'SqFtUnfinFull', 'SqFtUnfinHalf', 'SqFtTotLiving',
       'SqFtTotBasement', 'SqFtFinBasement', 'FinBasementGrade',
       'SqFtGarageBasement', 'SqFtGarageAttached', 'DaylightBasement',
       'SqFtOpenPorch', 'SqFtEnclosedPorch', 'SqFtDeck', 'HeatSystem',
       'HeatSource', 'BrickStone', 'ViewUtilization', 'Bedrooms',
       'BathHalfCount', 'Bath3qtrCount', 'BathFullCount', 'FpSingleStory',
       'FpMultiStory', 'FpFreestanding', 'FpAdditional', 'YrBuilt',
       'YrRenovated', 'PcntComplete', 'Obsolescence', 'PcntNetCondition',
       'Condition', 'AddnlCost'],
      dtype='object')

### Another warning! Which column has index 11?

In [13]:
bldg_df.columns[11]

'ZipCode'

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [51]:
bldg_df.dtypes

Major             int64
Minor             int64
SqFtTotLiving     int64
ZipCode          object
dtype: object

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [16]:
bldg_df = bldg_df[['Major', 'Minor','SqFtTotLiving', 'ZipCode']]

In [17]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514534 entries, 0 to 514533
Data columns (total 4 columns):
Major            514534 non-null int64
Minor            514534 non-null int64
SqFtTotLiving    514534 non-null int64
ZipCode          468661 non-null object
dtypes: int64(3), object(1)
memory usage: 15.7+ MB

In [18]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053214 entries, 0 to 2053213
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.7+ MB

In [19]:
sales_data = pd.merge(sales_df,bldg_df , on = ['Major', 'Minor'])

In [20]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421106 entries, 0 to 1421105
Data columns (total 6 columns):
Major            1421106 non-null object
Minor            1421106 non-null object
DocumentDate     1421106 non-null object
SalePrice        1421106 non-null int64
SqFtTotLiving    1421106 non-null int64
ZipCode          1301705 non-null object
dtypes: int64(2), object(4)
memory usage: 75.9+ MB

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [21]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors ='coerce')

In [22]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053214 entries, 0 to 2053213
Data columns (total 4 columns):
Major           float64
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: float64(1), int64(1), object(2)
memory usage: 62.7+ MB

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [ ]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [ ]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

Did it work?

In [ ]:
sales_df.info()

It worked! Let's do the same thing with the `Minor` parcel number.

In [23]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [24]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053214 entries, 0 to 2053213
Data columns (total 4 columns):
Major           float64
Minor           float64
DocumentDate    object
SalePrice       int64
dtypes: float64(2), int64(1), object(1)
memory usage: 62.7+ MB

Now, let's try our join again.

In [25]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [26]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1467779 entries, 0 to 1467778
Data columns (total 6 columns):
Major            1467779 non-null float64
Minor            1467779 non-null float64
DocumentDate     1467779 non-null object
SalePrice        1467779 non-null int64
SqFtTotLiving    1467779 non-null int64
ZipCode          1344654 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 78.4+ MB

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [27]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

        Major   Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
96   334330.0  1343.0   05/30/2006          0           4600     NaN
97   334330.0  1343.0   05/30/2006          0           4600     NaN
98   334330.0  1343.0   11/26/2001          0           4600     NaN
99   334330.0  1343.0   05/30/2006          0           4600     NaN
100  334330.0  1343.0   06/30/2016          0           4600     NaN

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [31]:

sales_data.loc[~sales_data['ZipCode'].isna(),:].head()
# sales_data.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
3  138860.0  110.0   06/08/2005          0           1490   98002
4  423943.0   50.0   10/11/2014          0            960   98092

In [32]:
# 1334823 homes
sales_data.shape

(1467779, 6)

# Your turn: Data Cleaning with Pandas
![turtletype](https://media3.giphy.com/media/cFdHXXm5GhJsc/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)

# 311 Service Requests received by the City of Chicago
https://data.cityofchicago.org/Service-Requests/311-Service-Requests/v6vf-nfxy



###  Read and Investigate data
Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [33]:
df = pd.read_csv('311_Service_Requests.csv')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9,10,11,12,18,19,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
df.head()

,SR_NUMBER,SR_TYPE,SR_SHORT_CODE,OWNER_DEPARTMENT,STATUS,CREATED_DATE,LAST_MODIFIED_DATE,CLOSED_DATE,STREET_ADDRESS,CITY,...,PRECINCT,SANITATION_DIVISION_DAYS,CREATED_HOUR,CREATED_DAY_OF_WEEK,CREATED_MONTH,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,SR19-01170443,Pothole in Street Complaint,PHF,CDOT - Department of Transportation,Completed,03/16/2019 12:30:20 PM,10/17/2019 05:12:48 PM,10/17/2019 05:12:48 PM,NaN,NaN,...,NaN,NaN,12,7,3,NaN,NaN,NaN,NaN,NaN
1,SR19-01471515,Aircraft Noise Complaint,AVN,Aviation,Completed,05/11/2019 05:46:15 AM,05/11/2019 10:30:23 AM,05/11/2019 05:46:15 AM,NaN,NaN,...,NaN,NaN,5,7,5,NaN,NaN,NaN,NaN,NaN
2,SR18-00198883,Aircraft Noise Complaint,AVN,Aviation,Completed,12/19/2018 03:39:09 PM,05/16/2019 04:26:56 PM,12/19/2018 03:39:09 PM,NaN,NaN,...,NaN,NaN,15,4,12,NaN,NaN,NaN,NaN,NaN
3,SR19-01269343,Sewer Cave-In Inspection Request,AAD,DWM - Department of Water Management,Completed,04/04/2019 06:08:12 AM,06/21/2019 03:21:48 PM,06/21/2019 04:55:19 AM,NaN,NaN,...,NaN,NaN,6,5,4,NaN,NaN,NaN,NaN,NaN
4,SR19-00000214,Aircraft Noise Complaint,AVN,Aviation,Completed,01/01/2019 02:53:44 AM,01/01/2019 07:30:09 AM,01/01/2019 02:53:44 AM,7922 W courtland AVE,NaN,...,NaN,NaN,2,3,1,NaN,NaN,NaN,NaN,NaN

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1996543 entries, 0 to 1996542
Data columns (total 37 columns):
SR_NUMBER                   object
SR_TYPE                     object
SR_SHORT_CODE               object
OWNER_DEPARTMENT            object
STATUS                      object
CREATED_DATE                object
LAST_MODIFIED_DATE          object
CLOSED_DATE                 object
STREET_ADDRESS              object
CITY                        object
STATE                       object
ZIP_CODE                    object
STREET_NUMBER               object
STREET_DIRECTION            object
STREET_NAME                 object
STREET_TYPE                 object
DUPLICATE                   bool
LEGACY_RECORD               bool
LEGACY_SR_NUMBER            object
PARENT_SR_NUMBER            object
COMMUNITY_AREA              float64
WARD                        float64
ELECTRICAL_DISTRICT         float64
ELECTRICITY_GRID            object
POLICE_SECTOR               float64
POLICE_DISTRICT             float64
POLICE_BEAT                 float64
PRECINCT                    float64
SANITATION_DIVISION_DAYS    object
CREATED_HOUR                int64
CREATED_DAY_OF_WEEK         int64
CREATED_MONTH               int64
X_COORDINATE                float64
Y_COORDINATE                float64
LATITUDE                    float64
LONGITUDE                   float64
LOCATION                    object
dtypes: bool(2), float64(11), int64(3), object(21)
memory usage: 536.9+ MB

##### Create new df with the following columns:
    'SR_NUMBER', 'SR_TYPE', 'SR_SHORT_CODE', 'OWNER_DEPARTMENT', 'STATUS',
       'CREATED_DATE', 'LAST_MODIFIED_DATE', 'LOCATION','CITY', 'LATITUDE']]

In [36]:
city_df = df[['SR_NUMBER', 'SR_TYPE', 'SR_SHORT_CODE', 'OWNER_DEPARTMENT', 'STATUS',
   'CREATED_DATE', 'LAST_MODIFIED_DATE', 'LOCATION','CITY', 'LATITUDE']]

In [38]:
city_df.head()

,SR_NUMBER,SR_TYPE,SR_SHORT_CODE,OWNER_DEPARTMENT,STATUS,CREATED_DATE,LAST_MODIFIED_DATE,LOCATION,CITY,LATITUDE
0,SR19-01170443,Pothole in Street Complaint,PHF,CDOT - Department of Transportation,Completed,03/16/2019 12:30:20 PM,10/17/2019 05:12:48 PM,NaN,NaN,NaN
1,SR19-01471515,Aircraft Noise Complaint,AVN,Aviation,Completed,05/11/2019 05:46:15 AM,05/11/2019 10:30:23 AM,NaN,NaN,NaN
2,SR18-00198883,Aircraft Noise Complaint,AVN,Aviation,Completed,12/19/2018 03:39:09 PM,05/16/2019 04:26:56 PM,NaN,NaN,NaN
3,SR19-01269343,Sewer Cave-In Inspection Request,AAD,DWM - Department of Water Management,Completed,04/04/2019 06:08:12 AM,06/21/2019 03:21:48 PM,NaN,NaN,NaN
4,SR19-00000214,Aircraft Noise Complaint,AVN,Aviation,Completed,01/01/2019 02:53:44 AM,01/01/2019 07:30:09 AM,NaN,NaN,NaN

### Investigate and handle missing values

What's the right thing to do with missing values?

In [41]:
city_df.isnull().sum()

SR_NUMBER                   0
SR_TYPE                     0
SR_SHORT_CODE               0
OWNER_DEPARTMENT            0
STATUS                      0
CREATED_DATE                0
LAST_MODIFIED_DATE          0
LOCATION                24467
CITY                  1003596
LATITUDE                24467
dtype: int64

In [60]:
city_df['CITY']= city_df['CITY'].fillna('Chicago')

In [61]:
city_df['CITY'].value_counts()

Chicago    1551635
CHICAGO     420441
Name: CITY, dtype: int64

In [63]:
city_df['CITY']  = city_df['CITY'].str.upper()

In [57]:
#value_map = {'ST': 'CHICAGO', 'Chicago':'CHICAGO'}
#city_df['CITY']= city_df['CITY'].map(value_map)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [64]:
city_df = city_df.dropna(how ='any', subset=['LOCATION'])

In [65]:
city_df.isnull().sum()

SR_NUMBER             0
SR_TYPE               0
SR_SHORT_CODE         0
OWNER_DEPARTMENT      0
STATUS                0
CREATED_DATE          0
LAST_MODIFIED_DATE    0
LOCATION              0
CITY                  0
LATITUDE              0
dtype: int64

In [53]:
city_df.head()

,SR_NUMBER,SR_TYPE,SR_SHORT_CODE,OWNER_DEPARTMENT,STATUS,CREATED_DATE,LAST_MODIFIED_DATE,LOCATION,CITY,LATITUDE
269,SR19-02557532,Tree Trim Request,SEF,Streets and Sanitation,Open,09/23/2019 06:08:42 PM,09/23/2019 06:30:48 PM,"(41.74056604192535, -87.73285499812488)",CHICAGO,41.740566
552,SR19-02557557,Pothole in Street Complaint,PHF,CDOT - Department of Transportation,Open,09/23/2019 06:13:16 PM,10/03/2019 02:15:58 PM,"(41.879477495788485, -87.76370588423917)",CHICAGO,41.879477
593,SR19-02557561,Traffic Signal Out Complaint,SFB,CDOT - Department of Transportation,Canceled,09/23/2019 06:14:29 PM,09/23/2019 06:32:43 PM,"(41.790554672786406, -87.58295123759538)",CHICAGO,41.790555
603,SR18-00172475,Street Light Out Complaint,SFD,CDOT - Department of Transportation,Completed,10/17/2018 08:23:32 PM,06/11/2019 05:30:32 PM,"(41.88618996, -87.63473263)",NaN,41.886190
605,SR18-00187585,Street Light Out Complaint,SFD,CDOT - Department of Transportation,Completed,12/05/2018 01:11:33 PM,06/11/2019 05:30:33 PM,"(41.88512814, -87.63424049)",NaN,41.885128

### Find out top 3 service types

In [50]:
city_df['SR_TYPE'].value_counts().head(3)

311 INFORMATION ONLY CALL     477804
Aircraft Noise Complaint      298652
Street Light Out Complaint    124477
Name: SR_TYPE, dtype: int64

In [ ]:
/Users/ssadalgekar/Desktop/chi-102819/chicago-102819/module_1/week_2/day_2/data/Sales

## Pair Programming:
    
For these exercises, we will be practicing pair programming. 
While we work through these exercises, choose who will code and who will supervise.
I.E., one person types, and the other suggests the appropriate direction to head in.

### In-class Exercise: 
Think about 2 questions each person and use city_df to answer your questions

## After class : 
### Turning code into a script

#### make a new .py file
- open a new `.py` file _or_ open a new jupyter notbook and export as a `.py` file so we can start to edit the `.py` file directly
- save the file as `mean_ppsf_seattle.py`
- look at all your code between `sales_df = pd.read_csv('data/Real Property Sales.zip')` and question `number 6` above

#### review & organize your code
- _organize_ your code in the `mean_ppsf_seattle.py` to start with `sales_df = pd.read_csv('data/Real Property Sales.zip')` and end with printing out the mean price per square foot for a house sold in seattle in 2019
- the code should be able to run without throwing any errors
- remember to include `import pandas as pd` and any other necessary statements at the start of your script

#### test your script
- go to the terminal
- make sure you are in the same directory path as your jupyter notebook and the `.py` file
- in the terminal type and then run `python mean_ppsf_seattle.py`
- confirm the script returns in terminal what you wanted it to return


![anykey](https://media2.giphy.com/media/26BGIqWh2R1fi6JDa/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)